@import "normalize.scss";
@mixin medium {
  font-weight: 500;
}
@mixin padding {
  padding-top: 80px;
  padding-bottom: 80px;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  color: white;
  display: inline-block;
  padding: 18px 40px;
  box-sizing: border-box;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  @include medium();
  font-size: 16px;
  line-height: 18px;
  &:hover,
  &:focus {
    background-color: #e74246;
  }
  &:active {
    background-color: #d7373b;
    color: #e37376;
  }
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
header {
  background-color: #eeeeee;
}

.main-header {
  padding-top: 50px;
  position: relative;
  &__navigation {
    &-logo {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
      &:active {
        opacity: 0.3;
      }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-site,
    &-user {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
      a {
        color: inherit;
        display: block;
        text-transform: uppercase;
        padding: 25px 25px;
        font-size: 16px;
        line-height: 30px;
        @include medium();
        &:hover,
        &:focus {
          color: #fb565a;
        }
      }
    }
    &-user {
      .bucket {
        position: relative;
        padding-left: 50px;
        &::before {
          position: absolute;
          content: "";
          top: 32px;
          left: 24px;
          width: 16px;
          height: 18px;
          background-image: url(../img/cart-icon.svg);
          background-repeat: no-repeat;
          background-position: 0 0;
        }
      }
    }
    &-site {
      .active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 25px;
          bottom: 15px;
          left: 25px;
          height: 2px;
          background-color: #fb565a;
        }
      }
    }
  }
  &__slider {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-content {
      width: 600px;
      margin-top: 80px;
      margin-bottom: 80px;
      b {
        @include medium();
        font-size: 55px;
        line-height: 55px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
        margin-top: 30px;
        margin-bottom: 45px;
      }
    }
    &-image {
      margin-right: 30px;
      img {
        height: 100%;
      }
    }
  }
  &-buttons {
    position: absolute;
    content: "";
    height: 20px;
    width: 90px;
    bottom: 80px;
    left: 50%;
    margin-left: -45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-item {
      border: none;
      cursor: pointer;
      width: 20px;
      height: 20px;
      background-color: white;
      border-radius: 50%;
      &.current {
        background-image: url("../img/active-button.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }
}
.offer {
  @include padding();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    width: 300px;
    h3 {
      padding: 0;
      margin: 0;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 35px;
    }
    .button2 {
      background-color: #00ca74;
      &:hover,
      &:focus {
        background-color: #00bc6c;
      }
      &:active {
        background-color: #00aa62;
        color: #38bd84;
      }
    }
    .button3 {
      background-color: #efc84a;
      &:hover,
      &:focus {
        background-color: #eab534;
      }
      &:active {
        background-color: #e5a722;
        color: #ebba53;
      }
    }
  }
}
.about {
  border-top: 2px solid #eeeeee;
  @include padding();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__left-column {
    width: 680px;
    b {
      @include medium;
      font-size: 45px;
      line-height: 45px;
      margin: 0;
    }
    p {
      margin: 0;
      margin-top: 45px;
      margin-bottom: 45px;
    }
    h3 {
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 35px;
      li {
        margin-top: 40px;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          height: 2px;
          width: 25px;
          top: 7px;
          left: -35px;
          background-color: #fb565a;
          background-repeat: no-repeat;
        }
      }
    }
  }
  &__right-column {
    width: 360px;
    h3 {
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      margin-top: 38px;
      margin-bottom: 50px;
    }
    &-promo {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &-item {
        margin: 0;
        width: 100px;
        b {
          margin: 0;
          font-size: 45px;
          font-weight: bold;
          line-height: 45px;
        }
        p {
          margin: 0;
          font-size: 16px;
          line-height: 18px;
          margin-top: 30px;
        }
      }
    }
  }
}
.sponsors {
  padding-bottom: 80px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
  }
  &__item {
    &-link {
      opacity: 0.3;
      &:hover,
      &:focus {
        opacity: 1;
      }
      &:active {
        opacity: 0.2;
      }
    }
  }
}
.main-footer {
  &__map {
    /*background-image: url("../img/map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 416px;*/
    position: relative;
    height: 416px;
    img{
      width: 100%;
      position: absolute;
      
      max-height: 416px;
    }
    iframe{
      width: 100%;
      position: absolute; 
      max-height: 416px;
      display: none;
    }
    &:hover{
      iframe{
        transition: 0.5s;
        display: block;
      }
    }
    &-inner {
      position: absolute;
     
      padding-top: 55px;
      left: 300px;
      &-info {
        box-sizing: border-box;
        width: 320px;
        height: 310px;
        padding-top: 50px;
        padding-left: 50px;
        background-color: white;
        h3 {
          margin: 0;
          font-size: 18px;
          line-height: 30px;
          font-weight: bold;
        }
        p {
          padding: 0;
          margin: 0;
          margin-top: 30px;
          color: #c1c1c1;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 30px;
        }
      }
    }
  }
  &__media {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 70px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      li {
        margin-left: 13px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 80px;
      height: 80px;
      background-color: #e1e1e1;
      border-radius: 50%;
      &:hover,
      &:focus {
        background-color: #e74246;
      }
      &:active {
        background-color: #d7373b;
        path {
          fill: #e37376;
        }
      }
    }
    &-text {
      margin-left: 140px;
      h2 {
        padding: 0;
        margin: 0;
        font-size: 36px;
        line-height: 36px;
      }
      p {
        color: #cdcdcd;
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        padding: 0;
        margin-top: 15px;
      }
    }
  }
}
.modal-login {
  display: none;
  position: fixed;
  background-color: white;
  color: black;
  top: 120px;
  left: 50%;
  width: 760px;
  padding: 85px 100px;
  margin-left: -465px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  h2 {
    @include medium();
    font-size: 45px;
    line-height: 45px;
    margin: 0;
    margin-bottom: 55px;
  }
  p {
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  &-form {
    label {
      font-weight: bold;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 14px;
    }
    input[type="text"],
    input[type="email"] {
      font: inherit;
      font-weight: bold;
      color: #000000;
      opacity: 0.5;
      background-color: white;
      border: 2px solid black;
      box-sizing: border-box;
      width: 360px;
      padding: 15px;
      margin-bottom: 35px;
      &:hover,
      &:focus {
        opacity: 1;
      }
      &::placeholder {
        color: black;
      }
    }
    .text {
      font-weight: bold;
      border: 2px solid black;
      box-sizing: border-box;
      padding: 15px;
      &::placeholder {
        color: black;
        font-weight: bold;
      }
      font: inherit;
      color: #000000;
      opacity: 0.5;
      background-color: white;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    .button {
      margin-top: 47px;
      width: 260px;
    }
  }
  .close {
    position: absolute;
    top: 85px;
    right: 8%;
    width: 25px;
    height: 25px;
    font-size: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &::before,
    &::after {
      top: 9px;
      left: 1px;
      content: "";
      position: absolute;
      width: 25px;
      height: 4px;
      background-color: #fb565a;
      opacity: 1;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}
//---Внутренние страницы---
.header-inner {
  h1 {
    text-align: center;
    @include medium();
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    margin-top: 80px;
    padding-bottom: 120px;
  }
}
.main-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  .filters {
    width: 300px;
    ul {
      list-style: none;
      line-height: 18px;
      padding: 0;
      margin: 0;
      li {
        margin-bottom: 15px;
        margin-left: 30px;
      }
      .filter-option {
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
        .filter-input:disabled + label {
          opacity: 0.4;
        }
      }
    }
    label {
      font-size: 16px;
      line-height: 20px;
      position: relative;
      display: block;
      cursor: pointer;
      user-select: none;
    }
    .filter-input-checkbox + label::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      background-image: url("../img/checkbox-off.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;

      left: -35px;
      top: -4px;
      border-radius: 50%;
    }
    .filter-input-checkbox:checked + label::before {
      display: none;
    }
    .filter-input-checkbox:checked + label::after {
      width: 25px;
      height: 25px;
      background-image: url("../img/checkbox-on.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      content: "";
      position: absolute;
      top: 0;
      left: -31px;
    }
    .filter-input-radio + label::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      border: 3px solid black;

      left: -30px;
      top: -3px;
      border-radius: 50%;
    }
    .filter-input-radio:checked + label::after {
      width: 8px;
      height: 8px;
      background-color: black;

      border-radius: 50%;
      content: "";
      position: absolute;
      top: 4px;
      left: -23px;
    }
    fieldset {
      padding: 0;
      margin: 0;
      margin-bottom: 50px;
      border: none;
      legend {
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        &:first-child {
          margin-bottom: 50px;
        }
      }
    }
    .rng-wrapper {
      width: 260px;
      background-color: #eeeeee;

      .range {
        box-sizing: border-box;
        margin: 30px 18px;
        -webkit-appearance: none;
        width: 220px;
        height: 2px;
        position: relative;
        background: -webkit-linear-gradient(
          left,
          #00ca74 0%,
          #00ca74 30%,
          #d7dcde 30%,
          #d7dcde 100%
        );
        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: 0;
          height: 23px;
          width: 20px;
          background-image: url("../img/filter-button.svg");
          background-repeat: no-repeat;
        }
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          background-image: url("../img/filter-button.svg");
          background-repeat: no-repeat;
          cursor: pointer;
          height: 23px;
          width: 20px;
        }
      }
    }
    .second-wrapper {
      width: 260px;
      margin-top: 15px;
      span {
        width: 80px;
        box-sizing: border-box;
        display: inline-block;
        background-color: #eeeeee;
        padding: 10px 15px;
        text-align: center;
        margin-left: 13px;
        &:first-child {
          margin-right: 22px;
        }
        input[type="text"] {
          background-color: inherit;
          border: none;
          width: 50px;
          text-align: center;
        }
      }
    }
  }
  .filter-button {
    box-sizing: border-box;
    width: 260px;
    background-color: #eeeeee;
    color: black;
    font-weight: bold;
    &:hover,
    &:focus {
      background-color: #dfdfdf;
    }
    &:active {
      background-color: #d5d5d5;
      color: #959595;
    }
  }
  .works {
    width: 760px;
    &__sort {
      display: flex;
      flex-direction: row;

      h2 {
        width: 360px;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 18px;
        margin: 0;
      }
      ul {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        margin-left: 40px;
        li {
          margin-left: 26px;
          &:first-child {
            margin-left: 0;
          }
          a {
            text-transform: uppercase;
            font-size: 14px;
            line-height: 16px;
            display: block;
            color: inherit;
            &:hover,
            &:focus {
              @include medium();
            }
            &::active,
            &.active{
              font-weight: bold;
            }
          }
        }
        .btn {
          background-color: inherit;
          border: none;
          position: absolute;
          cursor: pointer;
          content: "";
          opacity: 0.5;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          width: 20px;
          height: 20px;
          &:hover,
          &:focus {
            opacity: 1;
          }
        }
        .down {
          right: -45px;
          background-image: url("../img/icon-down-dir.svg");
        }
        .up {
          right: -65px;
          background-image: url("../img/icon-up-dir.svg");
        }
      }
    }
    &__promo {
      margin-top: 60px;
      width: 760px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      &-item {
        width: 360px;
        position: relative;
        margin-bottom: 33px;

        &-hover {
          display: none;
          position: absolute;
          width: 100%;
          height: 230px;
          background-color: #eeeeee;
          bottom: 0;
          text-align: center;
          .button {
            width: 200px;
          }
          h3 {
            margin: 0;
            margin-top: 25px;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 30px;
          }
          p {
            margin: 0;
            color: #666666;
            font-size: 16px;
            line-height: 18px;
            margin-bottom: 32px;
          }
        }
        .browser {
          opacity: 0.5;
        }
        &:hover,
        &:focus {
          .browser {
            opacity: 1;
          }
          .works__promo-item-hover {
            display: block;
          }
        }
      }
    }
    &__pagination {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      list-style: none;
      min-height: 47px;
      &-item {
        margin-right: 5px;
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          padding: 15px 19px;
          color: #000000;
          background-color: #eeeeee;
          @include medium();
          border: 2px solid #eeeeee;
          &:hover,
          &:focus,
          &:active {
            background-color: #dfdfdf;
            border-color: #dfdfdf;
          }
        }
        &.current {
          a {
            color: #000000;
  
            background-color: #ffffff;
            &:focus,
            &:hover,
            &:active {
              color: #000000;
  
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}
//---/Внутренние страницы---

.none {
  display: none;
}
.block {
  display: block;
}
.modal-error-login {
  input[type="text"] {
    border-color: #fb565a;
    color: #fb565a;
  }
}
.modal-error-email {
  input[type="email"] {
    border-color: #fb565a;
    color: #fb565a;
  }
}
